{{>header}}
<body>
	{{ ^logged }}
	<h1>{{ title }}!</h1>
	<form method="post" action="">
		<label for="login">Имя: </label><input type="text" id="login" name="login"><br />
		<label for="password">Пароль: </label><input type="password" id="password" name="password"><br />
		<input type="submit" value="Отправить"></input>
	</form>
	{{ /logged }}
	{{ #logged }}
	<br />
	<p>Привет, <strong>{{login}}</strong>!</p>
	{{ /logged }}
</body>
</html>