<!doctype html>
<html>
<head>
	<title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-theme.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type='text/javascript'  src='/javascripts/bootstrap.min.js'></script>
</head>
<body>
	<p>Welcome to {{ title }}!</p>
	<ul>
		<li><strong>Controller</strong> - {{controller}}</li>
		<li><strong>Action</strong> - {{action}}</li>
	</ul>
</body>
</html>